<div>
  <%= Tag.count do |tag| %>
    <%= link_to tag.name, tag_path(tag.name) %>
  <%end %>
</div>
<%= render 'category_menu/category_menu' %>
<% cache ['store', Purchase.latest] do %>
<%= render @purchases %>
<% end %>


