<div class="category_menu">
  <div class="submenu">
    <h2 class="catalog"> Каталог</h2>
    <ul class="nav nav-pills nav-stacked">
      <% Category.roots.each do |category| %>
        <li class="nav-item">
          <%= link_to category.name, purchases_path(filters: { category_id: category.id }),
            class: 'dropdown-item top_category', remote: true %>
          <%= render 'shared/subcategory_menu', categories: category.root.descendants.arrange %>
        </li>
        <% Tag.all.each do |tag| %>
          <%= link_to tag.name, tag %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>