<div class="submenu">
  <h2 style="text-align: center"> Каталог</h2>
  <ul class="nav nav-pills nav-stacked">
    <% Category.roots.each do |category| %>
      <li class="nav-item">
        <%= link_to category.name, category,
          class: "dropdown-item #{ 'active' if current_page?(category_path(category))}",
          style:'font-weight:bold; border-bottom: 1px gray solid; width:90%; margin-left: 5% '%>
        <%= render 'category_menu/category_menu_podcat', categories: category.root.descendants.arrange %>
      </li>
    <% end %>
  </ul>
</div>