.buttom_delete {
  margin-top: 0.5rem;
  margin-left: 2rem;
  background: red;
  color: white;
  border-color: #730E15;
  font-size: 2rem;
  width: 5rem;
}

form button.buttom_delete:hover {
  background: #730E15;
  border-radius: 0.25rem;
}

.total_price_cart {
  padding-left: 72rem;
  margin-right: 4rem;
  border-bottom: #d0cece 1px solid;
  width: 100%;
}

.font-size {
  font-size: 1rem;
}

