.submen {
 background-color: #000000;
}


.search {
  width: 15rem;
  flex-flow: row;
  margin-left: 6rem;
}

.bottom_search {
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

.search_background {
  background: grey;
  border: 1px solid #000000;
}

.search_background::placeholder {
  color: black;
}

.line {
  margin-left: 8rem;
}

.category_menu {
  width: 15%;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 0px 1px 0px #000000;
  font-size: 1rem;
  border-radius: 0.5rem
}

.catalog {
  color: white;
  text-align: center
}

.tags {
  color: white;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
}

a.top_category {
  color: white;
  text-decoration: none;
  font-weight:bold;
  border-bottom: 2px white solid;
  width:100%;
}

a.top_category:hover {
  background: #e46c5d;
}

.categories {
  width: 100%
}

a.category {
  color: white;
  text-decoration: none;
  text-align: center;
  border-bottom: 2px white solid;
  width:100%;
}

a.category:hover {
  background: #e46c5d;
}

.margin_ul {
  margin-right: 0;
}

a.cart_navbar {
  color: white;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.quantity_cart {
  width: 1.5rem;
  font-size: 1rem;
  background: orangered;
  border-radius: 5rem;
  text-align: center;
  color: white;
  position: absolute;
  z-index: 1;
  margin-top: -2.4rem;
  margin-left: 2.5rem;

}


form button.btn-outline-success:hover {
  background:green;
  border-radius: 1rem;
}

.shop_navbar {
  background-image: url(http://grazsecrets.at/images/bg_menu.png);
  padding-left: 20rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  height: 47px;
}


a.navbar_link_text {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
}

a.navbar_link_text:hover {
  color: #e46c5d;
}

a.sign {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__word {
    font-family: Snell Roundhand, cursive;
    text-decoration: none;
    font-size: 4rem;
    text-align: center;
    line-height: 1;
    color: #ffc6cb;
    animation: neon .08s ease-in-out infinite alternate;
  }

}

.sign {
  margin-top: 2rem;
}

@keyframes neon {
  from {
    text-shadow:
      0 0 6px  #ecbcbb,
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px #800E0B,
      0 0 21px #ff3b22,
      0 0 34px #c71712,
      0 0 54px #ff3b22;
  }
  to {
    text-shadow:
      0 0 6px  #eabcbb,
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px #7b0c09,
      0 0 22px #c31a14,
      0 0 38px #c31c18,
      0 0 60px #ff3b30;
  }
}
