.submen {
 background-color: #212529;
 border-top-right-radius: 0.25rem;
 border-bottom-right-radius: 0.5rem;
}


.line {
  margin-left: 49rem;
  margin-right: 1rem;
}

.category_menu {
  width: 15%;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 0px 1px 0px #000000;
  font-size: 1rem;
  border-radius: 0.5rem
}

.catalog {
  color: #a5c8e2;
  text-align: center
}

a.top_category {
  color: #a5c8e2;
  text-decoration: none;
  font-weight:bold;
  border-bottom: 2px #a5c8e2 solid;
  width:100%;
}

.categories {
  width: 100%
}

a.category {
  color: #a5c8e2;
  text-decoration: none;
  text-align: center;
  border-bottom: 2px #a5c8e2 solid;
  width:100%;
}

.margin_ul {
  margin-right: 0;
}